<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>JAMP | Get Started</title>
  <link rel = "icon" href="/static/img/jelly.png" 
        type = "image/x-icon">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/aboutus.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/carousel/">

    <style>
        body {
    padding-top: 3.5rem;
}

nav {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
    </style>

</head>
<body>
    <form id="form1">
        <header>
            
			<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="#"><b>JAMP</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/dashboard">Get Started</a>
                    </li>
                
                    <li class="nav-item">
                        <a class="nav-link" href="/kidney">Start Diagnose</a>
                    </li>
                    
                    <li class="nav-item">
		                <a class="nav-link" href="#">|</a>
		            </li>
                    <li class="nav-item">
		                <a class="nav-link" href="/logout">Logout</a>
		            </li>
                    </ul>
                </div>
            </nav>

         <main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Hi there! Let's Get Started with JAMP</h1>
      <p>Welcome to JAMP!, a software-based prediction system for users to know their chances of having chronic kidney disease. JAMP is an upcoming company that focuses on the welfare of human society. We use the latest tools to predict the chances of a person having chronic kidney disease.</p>
      <p><a class="btn btn-primary btn-lg" href="/disindex" role="button">Get Started &raquo;</a></p>
    </div>
  </div>

  <div class="container">

    <div class="row">
     
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <h2><a href="/kidney" role="button">Start Diagnose</a></h2>
        <p>Go to the "Start Diagnose" section and input the necessary details. Then click on predict to know the results.</p>
    
    </div>
    <hr>
  </div>
</main>

<footer class="container">
  <p>&copy;JAMP. All Rights Reserved</p>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.js"></script>

    </form>
</body>
</html>


